*{
    margin:0;
    font-family:arial;
    box-sizing:border-box; 
    
}
.nav-bar{
    background-color:#0f1111;
    height:60px;
    display:flex;
    justify-content:space-evenly;
}
.logo{
    background-image:url("amazon_logo.png");
    height:50px;
    width:100px;
    background-size:cover;
}
.address{
    color:white;
    justify-content:center;
    align-items:center;
    padding-top:10px;
    margin-right:10px;
    
}
.address-icon {
    display:flex;
    
}

.add-first{
    color:#cccccc;
    font-size:1rem;
    margin-left:16px;
    
}
.add-second{
    color:#ffffff;
    margin-left:3px;
    display:flex;
}

.border:hover
{
    border:1px solid white;
}
.nav-search
{
    display:flex;
    /* justify-content:space-evenly; */
    background-color:pink;
    width:620px;
    height:40px;
    border-radius:4px;
    margin-top:10px;
}
.search-select{
    background-color:#f3f3f3;
    width:50px;
    text-align:center;
    border-top-left-radius:4px;
    border-bottom-left-radius:5px;
    border:none;
    
}
.search-icon
{
 width:45px;
 display:flex;
 justify-content:center;
 align-items:center;
 font-size:1.2rem;
 background-color:#febd68;
 border-top-right-radius:4px;
 border-bottom-right-radius:5px;
}
.search-input{
    width:555px;
    font-size:1rem;
    border:none;
}
.nav-signin{
    color:white;
}
.signin1{
    font-family: sans-serif;
    font-size:12px;
    margin-top:10px;
}
.signin2{
    font-family:sans-serif;
    font-size:14px;
    font-weight : 700;
    
}
.nav-returns{
    color:white;
}
.cart i{
    margin-top:10px;
    color:white;
    font-size:30px;
}
.cart {
    display:flex;
    color:white;
    font-family:sans-serif;
    font-size:15px;
    font-weight : 700;
}
.nav-bar2{
    background-color:#222f3d;
    height:35px;
    display:flex;
    color:white;
    align-items:center;
    justify-content:space-evenly;
}
.menu i{
    color:white;
    align-items: center;
    
}
.menu {
    color:white;
    font-family:arial;
    padding:5px;
    
}
.items p{
   display:inline;
   font-family:arial;
   font-size:0.9rem;
   margin-left:15px;
}
.items{
       width:70%;
}
.deals{
    font-size:0.9rem;
    font-weight:700;
    padding:5px;
}
.hero-section{
    background-image:url("hero_image.jpg");
    height:350px;
    background-size:cover;
    display:flex;
    justify-content:center;
    align-items:flex-end;
}
.hero-text{
    background-color:whitesmoke;
    height:40px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:0.85rem;
    width:80%;
    margin-bottom:25px;
    
}
.hero-text a{
    color:#007185;
}
.shop-section{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    background-color:#e2e7e6;
}

.box{
    
    height:400px;
    width:23%;
    background-color:white;
    margin-top:15px;
    padding:20px 0px 15px;
}
.box1-img{
    /* background-image:url("box1_image.jpg"); */
    width:320px;
    height:320px;
    background-size:cover;
    margin-top:10px;
}
/* @media (min-width:1000px)
{
    .box1-img{
        width:80px;
        height:80px;
        background-size:cover;
        margin-top:2.5px;
    }
    .box{
    height:100px;
    width:7%;
    background-color:white;
    margin-top:4px;
    padding:5px 0px 4px;
    }
}
@media (min-width:300px) and (max-width:900px){
    .box1-img{
        width:160px;
        height:160px;
        background-size:cover;
        margin-top:5px;
    }
    .box{
    height:200px;
    width:11%;
    background-color:white;
    margin-top:8px;
    padding:10px 0px 8px;
    }
} */
.box-content{
    margin-left:10px;
}
.box-content p{
    color:#007185;
}
.foot-panel1{
    background-color:#374750;
    height:40px;
    display:flex;
    align-items: center;
    justify-content:center;
    color:white;
}
.border1:hover{
    background-color:#374760;
}
.foot-panel2{
    display:flex;
    justify-content: space-evenly;
    background-color:#333333;
    color:white;
    padding-top:60px;
    padding-bottom:100px;    
}
.items1 p{
    margin:10px;
}
.items2  p{
    margin:10px;
}
.items3  p{
    margin:10px;
}
.items4  p{
    margin:10px;
}
.last-footer {
  background-color:#333333;
  height:50px;
  color:white;
  display:flex;
  align-items:center;
  justify-content:center;
}
.foot-panel3{
    background-color:#222f3d;
    color:white;
    border-top:0.5px solid white;
    height:70px;
    display:flex;
    align-items:center;
    justify-content:center;
}
.logo{
    background-image:url("amazon_logo.png");
    background-size:cover;
    height:50px;
    width:100px;
}
.last-footer p{
      padding-left:20px;
      font-size:13px;

}
