body{
    background-color:skyblue;
}
h1{
    text-align:center;
}
h3{
    font-size:20px;
}
#lottery-container{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    
}
button{
    background-color:red;
    padding:20px;
    border-radius:20px;
    font-weight:bold;
    color:white;
    cursor:pointer;
}
button:hover{
    background-color:rgb(225, 33, 33);
}
.Box{
    background-color:gold;
    height:50px;
    width:160px;    
    margin:10px;
    font-size: 15px;
    border-radius:10px;
    font-weight:bold;
    display:flex;
    justify-content:center;
    align-items:center;
}

.winning-box{
    background-color:#08CB00;
    color:white;
}

.highlighted-box{
    border:5px solid red;
}
.lottery-sheet-container{
    display:flex;
    flex-wrap: wrap;
}